body {
width: 1080px;
margin: auto;
}

/*Logo Starts*/

h1 {
float: left;
background-color: red;
font-size: 40px;
font-family: 'Passero One', cursive;
}

/*Logo Ends*/
/*Nav Starts*/

.nav {
background-color: red;
width: 600px;
float: right;
display: block;
}

ul.nav {
background-color: blue;
padding: 0px;
}

ul.nav li {
width: 150px;
float: left;
background-color: green;
list-style-type: none;
}

ul.nav li a {
background-color: orange;
text-decoration: none;
border-right: 2px Dashed Black;
}

/*Navigation ends*/

#main-content {
clear: both;
}

.leftpara {
width: 520px;
float: left;
padding-right: 10px;
}

#main-content ul#gallery {
padding-bottom: 0px;
padding-left: 0px;
background-color: blue;
list-style-type: none;
/*width: 100%;*/
}

#main-content ul#gallery li {
background-color: red;
width: 33%;
float: left;
}

#main-content ul#gallery li a img{
padding-right: 0px;
margin-right: 0px;
}

h3 {
clear: left;
}

#footer {
background-color: black;
font: 14px Helvetica;
color: white;
clear:both;
text-align: center;

}

