* {
	color: #7D7D7D;
}																											

html {
	background-image: url('../images/graphy.png');
	background-repeat: repeat;
}

body {
	background-color: black;
	width: 1080px;
	margin: 0 auto;
	border-left: 10px double #00FFFF;
	border-right: 10px double #00FFFF;
}
	
																								/*Header*/

header section * {
	background-color: black;
}	

header h1 {
	margin: 0em 0em 0em 0.5em;
	padding: 0;
	display: block;
	float: left;
	width: 485px;
	height: 100px;
	line-height: 100px;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.5em;
	color: #00FFFF;
}

																								/*Navigation*/

nav {
	float: right;
	width: 580px;
	height: 100px;
}

nav ul {
	margin-top: 0px;
	float: right;
	padding-left: 0;
}

nav ul li {
	list-style-type: none;
	float: left;
	width: 150px;
	height: 100px;
	line-height: 3em;
}

nav ul li a {
	height: 100px;
	text-decoration: none;
	text-align: center;
	color: #00FFFF;
	display: block;
	background-image: url("../images/navsprite.png");
	text-indent: -900000px; 
}

																								/*Nav Positioning*/
																								
#shop {
background-position: -150px 0px;
}			

#shop:hover {
background-position: -150px -100px;
}		

#shop:active {
background-position: -150px -200px;
}																							

#support {
background-position: -300px 0px;
}			

#support:hover {
background-position: -300px -100px;
}		

#support:active {
background-position: -300px -200px;
}			
	
#products:hover {
background-position: 0px -100px;
}
																								
#products:active {
background-position: 0px -200px;
}

																								/*Main Content*/
																								
h1, h2, h3 {
	font-family: 'Orbitron';
	text-align: center;
	color: #00FFFF;
	font-size: 80%;
}

img#main {
	width: 520px;
	height: 280px;
}
																						/*Paragraph Styles*/
p:first-letter {
	font:2em 'Orbitron';
	color: #00FFFF;
}

p:first-line {
	color: white;
}

p {
	border-top: 1px solid #00FFFF;
	padding-top: 3em;
	font-family: Helvetica;
	letter-spacing: 2px;
	line-height: 1em;
}

																							/*Button Styles*/
																							
.button {	
	float: right;
	text-align: center;
	text-decoration: none;
	font: 14px 'Orbitron', Helvetica, sans-serif;
	color: White;
	padding: 1em 1em .55em;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px #7D7D7D;
	-moz-box-shadow: 0 1px 2px #7D7D7D;
	box-shadow: 0 2px 4px #7D7D7D;
	background: -webkit-gradient(linear, left top, left bottom, from(#00FFFF), to(#000000));
	background: -moz-linear-gradient(-90deg, #00FFFF, #000000);
}

																							/*Definition List*/
																							
dl dt:first-line {
	color: white;
}

dl dt:first-letter {
	color: #00FFFF;
	font-size: 1.1em;
}

																							/*Gallery*/

#gal {
	border: 2px Solid #00FFFF;
	height:650px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#gal li {
	list-style-type: none;
	display: block;
}

#gal li a {
	display: block;
	height: 125px;
	width: 100%
}

#gal li a img {
	width: 300px;
	height: 90px;
	padding-left: 20%;
	padding-top: 10px;
}

#gal li a img:hover {
	padding-left: 0;
	padding-top: 0;
	width: 520px;
	height: 125px;
}
																			
																							/*Structural*/

.rightpara {
	width: 520px;
	float: right;
	padding: 10px;
}

.leftpara {
	width: 520px;
	float: left;
	padding: 10px;
}		

aside#techspecs {
	float: left;
	width: 520px;
	padding: 10px;	
}		

#techspecs {
color: #00FFFF;
}

#techspecs li {
color: white;																
}
																																																																																							
																							/*Footer*/

footer {
	clear: both;
	text-align: center;
}																							


