* {
color: grey;
}																											

html {
background-image: url('../images/graphy.png');
background-repeat: repeat;
}

body {
background-color: black;
width: 1080px;
margin: 0 auto;
border-left: 10px double cyan;
border-right: 10px double cyan;
}
	
																								/*Header*/

header section * {
background-color: black;
}	

header h1 {
margin: 0em 0em 0em 0.5em;
padding: 0;
display: block;
float: left;
width: 485px;
height: 50px;
line-height: 50px;
font-family: 'Orbitron', sans-serif;
font-size: 1.5em;
color: cyan;
}

																								/*Navigation*/

nav {
float: right;
width: 580px;
}

nav ul {
margin-top: 0px;
float: right;
padding-left: 0;
}

nav ul li {
list-style-type: none;
float: left;
width: 155px;
height: 3em;
line-height: 3em;
border-left: 1px solid cyan;
}

nav ul li a {
text-decoration: none;
text-align: center;
color: cyan;
background-color: black;
display: block;
/*text-indent: -900000px; */
}

																								/*Main Content*/
																								
h1, h2, h3 {
font-family: 'Orbitron';
text-align: center;
color: cyan;
font-size: 80%;
}

img#main {
padding-left: 10px;
width: 520px;
height: 280px;
}

p:first-letter {
font:2em 'Orbitron';
color: cyan;
}

p:first-line {
color: white;
}

p {
border-top: 1px solid cyan;
padding-top: 1em;
}
																							/*Definition List*/
dl dt:first-line {
color: white;
}

dl dt:first-letter {
color: cyan;
font-size: 1.1em;
}
																							/*Gallery*/
#gal {
border: 2px Solid Cyan;
height: 300px;
margin: 0;
padding: 0;
overflow: hidden;
}

#gal li {
list-style-type: none;
}

#gal li a {
display: block;
}

#gal li a img {
float: left;
width: 103px;
height: 60px;
}

#gal li a:hover img {
clear: left;
width: 516px;
height: 240px;
}

																							/*End Gallery*/

.rightpara {
width: 520px;
float: right;
padding: 10px;
}

.leftpara {
width: 520px;
float: left;
padding: 10px;
}																					
																																																																					
																							/*End Gallery*/
																							/*Footer*/
footer {
clear: both;
text-align: center;
}																							


