body {
background-image: url("../images/saturn.jpg");
}

p {
color: White;
line-height: 2;
text-indent: 20px;
word-spacing: 10px;
}

p:first-line {
color: Orange;
}

p:first-letter {
font-size: 25px;
font-family: Helvetica;
color: Red;
font-weight: Bold;
}

ul li {
background-color: Orange;
list-style-type: none;
padding: 10px;
display: inline;
letter-spacing: 3px;
}

ul li a {
text-decoration: none;
color: Black;
}

#link:hover {
color: Red;
font-size: 20px;
vertical-align: 6px;
}

ul {
text-align: Center;
}

ol {
background-color: Orange;
}

h1 {
font-family: "Comic Sans MS";
text-shadow: 5px 5px 5px Orange;
text-align: Center;
font-size: 40px;
color: Red;
background-color:rgba(0,0,238,1.0); 
text-transform: lowercase;
}

h2 {
text-align: Center;
color: black;
background-color: White;
}

h3 {
font-variant: small-caps;
color: white;
font-size: 25px;
font-family: Chalkboard;
text-align: center;
}

img {
border-style: Solid;
border-color: Green;
border-width: 10px;
opacity: 0.4;
margin-left: 32%;
margin-right: 32%;
}

img:hover {
opacity: 1.0;
}

#footer {
text-align: Center;
font: Italic 12px Helvetica;
}





